<app-location
  title="Nuevo servicio o refacción"
  subtitle="Llena los campos para agregar un nuevo servicio o refacción"
  [tabs]="newWserviceTabs"
></app-location>

<div class="container">
  <form [formGroup]="wserviceForm" (ngSubmit)="submitNewWservice()">
    <div class="mb-3">
      <label for="wsName" class="form-label fw-bold">Nombre*:</label>
      <input
        type="text"
        name="wsName"
        id="wsNameId"
        class="form-control"
        aria-describedby="wsname"
        formControlName="wsName"
        autofocus
      />
      <div
        class="error"
        *ngIf="
          wserviceForm.controls.wsName.errors?.required &&
          wserviceForm.controls.wsName.touched
        "
      >
        Introduce un nombre de servicio o refacción
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <label for="wsCost" class="form-label fw-bold">Costo*:</label>
        <input
          type="number"
          name="wsCost"
          class="form-control"
          placeholder="$0.00"
          step="0.1"
          min="0"
          formControlName="wsCost"
        />
        <div
          class="error"
          *ngIf="
            wserviceForm.controls.wsCost.errors?.required &&
            wserviceForm.controls.wsCost.touched
          "
        >
          Introduce un costo
        </div>
      </div>
      <div class="col-6">
        <label for="wsCategory" class="form-label fw-bold">Categoría*:</label>
        <select
          name="wsCategory"
          id="wsCategoryId"
          class="form-select"
          formControlName="wsCategory"
          aria-label="wsCategory selection"
        >
          <option value="Servicio">Servicio</option>
          <option value="Refacción">Refacción</option>
        </select>
        <div
          class="error"
          *ngIf="
            wserviceForm.controls.wsCategory.errors?.required &&
            wserviceForm.controls.wsCategory.touched
          "
        >
          Selecciona una categoría
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!wserviceForm.valid"
      >
        <div class="d-inline-flex">Guardar<i class="bx bxs-save ms-2"></i></div>
      </button>
    </div>
  </form>
</div>
