<app-location
  title="Ordenes"
  subtitle="Progreso de ordenes"
  [tabs]="ordersTabs"
></app-location>

<div class="card text-center">
  <div class="card-header">Ordenes</div>
  <div class="card-body d-flex justify-content-center">
    <ngx-charts-bar-vertical
      [view]="[1000, 400]"
      [results]="ordersData"
      [xAxisLabel]="'Products'"
      [legendTitle]="'Product Sale Chart'"
      [yAxisLabel]="'Sale'"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [gradient]="true"
    >
    </ngx-charts-bar-vertical>
  </div>
</div>
