<app-location
  title="Proveedores"
  subtitle="Detalle del provedor"
  [tabs]="supplierDetailTabs"
></app-location>

<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-center align-items-center">
      <i class="bx bxs-envelope"></i>{{ supplier.email }}
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <div class="d-flex justify-content-center align-items-center">
        {{ supplier.name | titlecase }}
      </div>
    </h5>
    <p class="card-text"></p>
  </div>
  <div class="card-footer text-muted">
    <div class="d-flex justify-content-center align-items-center">
      <i class="bx bxs-phone"></i>{{ supplier.areaCode }}-{{ supplier.phone }}
    </div>
  </div>
</div>
