<div class="card text-center mb-5">
  <div class="card-header">
    <ul class="nav nav-pills card-header-tabs justify-content-end">
      <li class="nav-item" *ngFor="let tab of tabs">
        <button
          class="nav-link"
          [ngClass]="{ active: tab.active }"
          type="button"
          role="tab"
          [routerLink]="[tab.navigate]"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          [title]="tab.tooltip"
        >
          <i class="{{ tab.icon }}"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ subtitle }}</p>
  </div>
</div>
