<app-location
  title="Proveedores"
  subtitle="Listado de proveedores"
  [tabs]="suppliersTabs"
  [spinner]="loading"
></app-location>

<div class="bar-container">
  <i class="bx bx-search-alt icon"></i>
  <input
    type="text"
    class="form-control mb-3 search"
    placeholder="Buscar proveedor"
    [(ngModel)]="filterSupplier"
  />
</div>

<table class="table table-hover table-light table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Email</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let supplier of suppliers
          | filter: filterSupplier
          | paginate
            : { itemsPerPage: 10, currentPage: p, totalItems: suppliers.length }
      "
      (click)="supplierDetail(supplier.id)"
    >
      <td>{{ supplier.name }}</td>

      <td>{{ supplier.areaCode }}-{{ supplier.phone }}</td>
      <td>{{ supplier.email }}</td>
      <td>
        <button
          class="btn btn-secondary btn-sm me-1"
          (click)="editSupplier(supplier.id)"
        >
          <i class="bx bxs-edit-alt"></i>
        </button>
        <button
          class="btn btn-danger btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          (click)="openConfirm($event, supplier.id)"
        >
          <i class="bx bxs-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls
  (pageChange)="p = $event"
  previousLabel="Anterior"
  nextLabel="Siguiente"
  [responsive]="true"
  class="d-flex float-end controls"
  *ngIf="!loading"
></pagination-controls>

<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          ¿Eliminar Proveedor?
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">La operación no podrá ser revertida</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteSupplier()"
          data-bs-dismiss="modal"
        >
          Borrar
        </button>
      </div>
    </div>
  </div>
</div>
