<app-location
  title="Reparaciones y servicios"
  subtitle="Cantidades"
  [tabs]="repservTabs"
></app-location>

<div class="card text-center">
  <div class="card-header">Reparaciones y servicios</div>
  <div class="card-body d-flex justify-content-center">
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="pieData"
      [gradient]="gradient"
      [legend]="showLegend"
      [legendPosition]="legendPosition"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
    >
    </ngx-charts-pie-chart>
  </div>
</div>
