<app-location
  title="Usuarios"
  subtitle="Detalle del usuario"
  [tabs]="userDetailTabs"
></app-location>

<div class="card text-center">
  <div class="card-header">
    <div class="d-flex align-items-center justify-content-center">
      <i class="bx bxs-envelope"></i> {{ user.email }}
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <div class="d-flex align-items-center justify-content-center">
        <i class="bx bxs-user"></i> {{ user.name | titlecase }}
        {{ user.lastName | titlecase }}
      </div>
    </h5>
    <img
      [src]="server + user.photo"
      [alt]="user.name"
      width="200px"
      height="200px"
      *ngIf="user.photo"
      style="border-radius: 12px"
    />
    <div class="d-flex align-items-center justify-content-center mt-2">
      <h6 class="card-text">{{ user.role }}</h6>
    </div>
  </div>
  <div class="card-footer text-muted">
    <div class="d-flex align-items-center justify-content-end">
      <i class="bx bxs-phone"></i>{{ user.areaCode }}-{{ user.phone }}
    </div>
  </div>
</div>
