:root {
  --primary: #11101d;
}

.home-section {
  position: relative;
  top: 55;
  background: #e4e9f7;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.home-section.close {
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
  margin-left: 10px;
}

.btn-secondary a {
  width: 85px;
}

i {
  font-size: 25px;
}

.nav-link {
  color: var(--primary);
}
.nav-link.active {
  background-color: #11101d;
}
