<app-location
  title="Clientes"
  subtitle="Detalle del cliente"
  [tabs]="clientDetailTabs"
></app-location>

<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-center align-items-center">
      <i class="bx bxs-envelope"></i>{{ client.email }}
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <div class="d-flex justify-content-center align-items-center">
        {{ client.name | titlecase }} {{ client.lastName | titlecase }}
      </div>
    </h5>
    <p class="card-text"></p>
  </div>
  <div class="card-footer text-muted">
    <div class="d-flex justify-content-center align-items-center">
      <i class="bx bxs-phone"></i>{{ client.areaCode }}-{{ client.phone }}
    </div>
  </div>
</div>
