<nav
  class="
    navbar navbar-nav
    sticky-top
    navbar-expand-lg navbar-dark
    bg-primary
    overlay
  "
>
  <div class="container-fluid">
    <a
      class="navbar-brand"
      *ngIf="authService.isLogged | async; else noClickableLogo"
    >
      <img
        src="../../../assets/AOLogo.jpg"
        alt="Logo"
        class="logo"
        (click)="toggleSidebar()"
      />
    </a>
    <ng-template #noClickableLogo>
      <a class="navbar-brand">
        <img
          src="../../../assets/AOLogo.jpg"
          alt="Logo"
          class="no-cursor-logo"
        />
      </a>
    </ng-template>

    <span class="navbar-brand mb-0 h1">Automotriz Osnaya</span>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav ms-auto mb-2 mb-lg-0 me-1"
        *ngIf="authService.isLogged | async"
      >
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ user?.name | titlecase }} {{ user?.lastName | titlecase }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/users/detail/' + user.id]"
                >Mi perfil</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item logout"
                data-bs-toggle="modal"
                data-bs-target="#logoutSession"
                >Cerrar sesión</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div
  class="modal fade"
  id="logoutSession"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="logoutSessionLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutSessionLabel">
          ¿Desea cerrar sesión?
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- <div class="modal-body">La sesión se cerrará a continuación</div> -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          No
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="logout()"
          data-bs-dismiss="modal"
        >
          Si
        </button>
      </div>
    </div>
  </div>
</div>
