<app-location
  title="Editando proveedor"
  subtitle="Edita los campos de tu proveedor"
  [tabs]="editSupplierTabs"
></app-location>
<div class="container">
  <form [formGroup]="supplierForm" (ngSubmit)="updateSupplier()">
    <div class="mb-3">
      <label for="sName" class="form-label fw-bold">Nombre*:</label>
      <input
        type="text"
        name="sName"
        id="sNameId"
        class="form-control"
        aria-describedby="name"
        formControlName="sName"
        autofocus
      />
      <div
        class="error"
        *ngIf="
          supplierForm.controls.sName.errors?.required &&
          supplierForm.controls.sName.touched
        "
      >
        Se requiere un nombre
      </div>
    </div>
    <div class="mb-3">
      <label for="sPhone" class="form-label fw-bold">Teléfono*:</label>
      <div class="input-group">
        <div class="row g-0">
          <div class="col-4">
            <input
              type="text"
              name="sAreaCode"
              id="sAreaCodeId"
              class="form-control"
              aria-describedby="areaCode"
              maxlength="3"
              formControlName="sAreaCode"
            />
          </div>
          <div class="col-2">
            <span class="input-group-text justify-content-center fw-bold"
              >-</span
            >
          </div>
          <div class="col-6">
            <input
              type="text"
              name="sPhone"
              id="sPhoneId"
              class="form-control"
              aria-describedby="phone"
              maxlength="7"
              formControlName="sPhone"
            />
          </div>
        </div>
      </div>
      <div class="error-list">
        <div
          class="error"
          *ngIf="
            supplierForm.controls.sAreaCode.errors?.required &&
            supplierForm.controls.sAreaCode.touched
          "
        >
          Se requiere una lada
        </div>
        <div
          class="error"
          *ngIf="
            supplierForm.controls.sAreaCode.errors?.minlength &&
            supplierForm.controls.sAreaCode.touched
          "
        >
          La lada debe ser de
          {{ supplierForm.controls.sAreaCode.errors?.minlength.requiredLength }}
          dígitos
        </div>
        <div
          class="error"
          *ngIf="
            supplierForm.controls.sAreaCode.errors &&
            supplierForm.controls.sAreaCode.touched
          "
        >
          Escribe dígitos solamente
        </div>
        <div
          class="error"
          *ngIf="
            supplierForm.controls.sPhone.errors?.required &&
            supplierForm.controls.sPhone.touched
          "
        >
          Se requiere un teléfono
        </div>
        <div
          class="error"
          *ngIf="
            supplierForm.controls.sPhone.errors?.minlength &&
            supplierForm.controls.sPhone.touched
          "
        >
          El número de teléfono debe ser de
          {{ supplierForm.controls.sPhone.errors?.minlength.requiredLength }}
          dígitos
        </div>
        <div
          class="error"
          *ngIf="
            supplierForm.controls.sPhone.errors &&
            supplierForm.controls.sPhone.touched
          "
        >
          Escribe dígitos solamente
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="sEmail" class="form-label fw-bold">Email</label>
      <input
        type="email"
        name="sEmail"
        id="sEmailId"
        class="form-control"
        aria-describedby="Email"
        formControlName="sEmail"
      />
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!supplierForm.valid"
      >
        <div class="d-inline-flex">
          <div
            class="spinner-border spinner-border-sm loading align-items-center"
            role="status"
            *ngIf="loadingSubmit"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
          Guardar<i class="bx bxs-save ms-2"></i>
        </div>
      </button>
    </div>
  </form>
</div>
