<app-menu-title
  title="Ajustes"
  subtitle="Administración general"
></app-menu-title>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card text-center category" [routerLink]="['/users']">
      <div class="card-header"></div>
      <i class="bx bxs-user-circle card-img-top card-icon"></i>
      <div class="card-body">
        <h5 class="card-title">Usuarios</h5>
        <p class="card-text">Personal de tu taller</p>
      </div>
      <div class="card-footer text-muted"></div>
    </div>
  </div>
</div>
